* {
  font-family: 'Montserrat', sans-serif;
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*::-moz-focus-inner {
  border: 0 !important;
}

*::active, *::focus {
  outline: none !important;
}

body {
  position: relative;
  background: radial-gradient(133.74% 62.47% at 13.44% 7.73%, #454E6E 0%, #252B3E 100%);
  height: 100%;
}

.container {
  width: 360px;
  margin: 0 auto;
}

h1 {
  font-weight: 600;
  font-size: 30px;
  letter-spacing: 0.01em;
  text-align: center;
  color: #FFFFFF;
}

h2 {
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 37px;
  letter-spacing: 0.01em;
  color: #FFFFFF;
}

h3 {
  font-weight: 500;
  font-size: 25px;
  line-height: 30px;
  letter-spacing: 0.01em;
  color: #FFFFFF;
}

.index__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100vh;
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 10%;
}

.logo img {
  padding-bottom: 15px;
}

.index-form {
  background: #343A4E;
  border-radius: 20px 20px 0px 0px;
}

.index-form a {
  font-weight: 500;
  font-size: 20px;
  text-decoration: none;
  line-height: 24px;
  color: #FFFFFF;
  margin: 40px 0;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.index-form a:active, .index-form a:focus {
  outline: none !important;
}

.button {
  display: inline-block;
  width: 100%;
  height: 70px;
  border: none;
  border-radius: 50px;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  cursor: pointer;
  margin: 10px 0 10px;
}

.button-main {
  color: #FFFFFF;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  background: radial-gradient(94.44% 2329.73% at 98.41% 100%, #0985FF 0%, #C49DFF 100%);
}

.button:active, .button:focus {
  outline: none !important;
}

.button:active {
  -webkit-transform: scale(0.98);
          transform: scale(0.98);
}

.button-transparent {
  text-decoration: none;
  border: 2px solid #0F86FF;
  color: #3C4856;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.button-border-none {
  border: none;
  margin: 5px 0 5px;
}

.form-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px;
}

.input {
  height: 70px;
  width: 100%;
  margin-bottom: 10px;
  border-radius: 10px;
  border: none;
  font-weight: normal;
  font-size: 20px;
  line-height: 24px;
  padding: 0 28px;
}

.input-dark {
  background: #464F6E;
  color: rgba(255, 255, 255, 0.8);
}

.input-white {
  position: relative;
  background: #ffffff;
  color: #75858C;
}

.input-shadow {
  -webkit-box-shadow: 0px 4px 10px rgba(213, 223, 228, 0.5);
          box-shadow: 0px 4px 10px rgba(213, 223, 228, 0.5);
}

.search__wrap {
  padding-top: 40px;
  padding-left: 10px;
  padding-right: 10px;
}

.form__input-search {
  position: relative;
}

.form__input-search::after {
  content: '';
  position: absolute;
  top: 26px;
  left: 30px;
  width: 16px;
  height: 16px;
  background-image: url(/img/search.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.input-search {
  padding: 0 28px 0 64px;
}

.category {
  padding-bottom: 70px;
  height: 100vh;
}

.category__wrap h2 {
  padding-left: 27px;
  padding-bottom: 20px;
}

.cat__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-left: 10px;
  padding-right: 10px;
}

.cat__item {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 165px;
  height: 165px;
  margin-bottom: 10px;
  border-radius: 10px;
  background: #414A69;
}

.cat__item a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.cat__item span {
  padding-top: 12px;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.01em;
  color: #FFFFFF;
}

.item__img-wrap {
  width: 77px;
  height: 77px;
  border-radius: 50%;
}

.item__img {
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 100%;
}

.img-info {
  background-image: url(/img/category/info.svg);
}

.img-info__wrap {
  background: -webkit-gradient(linear, left top, right top, from(#2EBDFE), to(#46D0FF));
  background: linear-gradient(90deg, #2EBDFE 0%, #46D0FF 100%);
}

.img-media {
  background-image: url(/img/category/media.svg);
}

.img-media__wrap {
  background: -webkit-gradient(linear, left top, right top, from(#6AD3AF), to(#7FEAA0));
  background: linear-gradient(90deg, #6AD3AF 0%, #7FEAA0 100%);
}

.img-test {
  background-image: url(/img/category/test.svg);
}

.img-test__wrap {
  background: -webkit-gradient(linear, left top, right top, from(#FFC452), to(#FFCF7E));
  background: linear-gradient(90deg, #FFC452 0%, #FFCF7E 100%);
}

.img-forum {
  background-image: url(/img/category/forum.svg);
}

.img-forum__wrap {
  background: -webkit-gradient(linear, left top, right top, from(#8691FE), to(#8791FD));
  background: linear-gradient(90deg, #8691FE 0%, #8791FD 100%);
}

.img-contacts {
  background-image: url(/img/category/contacts.svg);
}

.img-contacts__wrap {
  background: -webkit-gradient(linear, left top, right top, from(#27CCE0), to(#3DDFF1));
  background: linear-gradient(90deg, #27CCE0 0%, #3DDFF1 100%);
}

.img-share {
  background-image: url(/img/category/share.svg);
}

.img-share__wrap {
  background: -webkit-gradient(linear, left top, right top, from(#FE7C9A), to(#FF9DA0));
  background: linear-gradient(90deg, #FE7C9A 0%, #FF9DA0 100%);
}

.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 77px;
}

.header__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  margin-left: -40px;
}

.arrow-back {
  background-image: url(/img/arrow-back.svg);
  background-repeat: no-repeat;
  padding: 0 20px;
  background-position: center;
  width: 27px;
  height: 17px;
  z-index: 1;
}

.container__wrap {
  position: relative;
  background: #F1F2F6;
  border-radius: 20px 20px 0px 0px;
  padding: 10px;
  height: 100%;
}

.top-search {
  background: #FFFFFF;
  -webkit-box-shadow: 0px 4px 10px rgba(213, 223, 228, 0.5);
          box-shadow: 0px 4px 10px rgba(213, 223, 228, 0.5);
  border-radius: 10px;
  padding: 25px 29px;
  margin-bottom: 100px;
  padding-bottom: 50%;
}

.top-search span {
  display: block;
  height: 58px;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.01em;
  color: #3C4856;
}

.top-search li {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
  border-bottom: 1px solid RGBA(213, 223, 228, 0.7);
  width: 100%;
  height: 58px;
  padding-left: 32px;
}

.top-search li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  text-decoration: none;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.01em;
  color: #0F86FF;
}

.top-search li::after {
  content: '';
  position: absolute;
  top: 20px;
  left: 0;
  width: 16px;
  height: 16px;
  background-image: url(/img/search-top.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.profile-image,
.info-image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 40px 0;
}

.profile-image__img,
.info-image__img {
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  margin-bottom: 5px;
}

.profile-image__img {
  background-color: #464F6E;
  background-image: url(/img/category/profile.svg);
}

.profile-image__img::after {
  content: '+';
  width: 21px;
  height: 21px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: #70DA40;
  border-radius: 50%;
  color: #ffffff;
  font-size: 20px;
}

.profile-alert {
  background: #FFFFFF;
  -webkit-box-shadow: 0px 4px 10px rgba(213, 223, 228, 0.5);
          box-shadow: 0px 4px 10px rgba(213, 223, 228, 0.5);
  border-radius: 10px;
  padding: 26px 20px;
  margin-bottom: 10px;
}

.profile-alert p {
  text-align: center;
}

.font-list,
.font-list li a {
  font-style: normal;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.01em;
  color: #3C4856;
  text-decoration: none;
}

.button-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 30px 0 5px;
  text-decoration: none;
}

.main-list,
.info-list,
.forum-list {
  background: #FFFFFF;
  -webkit-box-shadow: 0px 4px 10px rgba(213, 223, 228, 0.5);
          box-shadow: 0px 4px 10px rgba(213, 223, 228, 0.5);
  border-radius: 10px;
  padding-left: 20px;
  padding-right: 20px;
  height: calc(100% - 70px);
  font-weight: 500;
}

.main-list a,
.info-list a,
.forum-list a {
  text-decoration: none;
  font-weight: 500;
}

.main-list li,
.info-list li,
.forum-list li {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
  border-bottom: 1px solid RGBA(213, 223, 228, 0.7);
  width: 100%;
  height: 65px;
}

.main-list li a,
.info-list li a,
.forum-list li a {
  text-decoration: none;
  width: 100%;
}

.main-list li a::after,
.info-list li a::after,
.forum-list li a::after {
  content: '';
  width: 16px;
  height: 16px;
  position: absolute;
  right: 0;
  top: 24px;
  background-image: url(/img/list-arrow.svg);
  background-position: center;
  background-repeat: no-repeat;
}

.main-list,
.info-list {
  padding-bottom: 100%;
}

.main-list li,
.info-list li {
  padding-left: 30px;
}

.main-list li::before,
.info-list li::before {
  content: '';
  position: absolute;
  left: 0;
  width: 10px;
  height: 10px;
  background: #0F86FF;
  border-radius: 50px;
}

.push {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
}

.setting-check {
  position: absolute;
  top: 20px;
  right: 0;
}

.setting-check,
.auth-check {
  width: 26px;
  height: 26px;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 4px 10px rgba(213, 223, 228, 0.5);
          box-shadow: 0px 4px 10px rgba(213, 223, 228, 0.5);
  border-radius: 10px;
  background-repeat: no-repeat;
  background-position: center;
}

#push {
  opacity: 0;
  opacity-z-index: -1;
  width: 1px;
  height: 1px;
}

#pushSpan {
  cursor: pointer;
  z-index: 10;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.auth-main__wrap {
  background: #F7FAFC;
  border-radius: 20px 20px 0px 0px;
  height: 100vh;
}

.auth-main__wrap p {
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 22px;
  letter-spacing: 0.01em;
  color: #3C4856;
  padding: 0 20px 30px 40px;
}

.auth-check__wrap {
  position: relative;
  padding-top: 15px;
}

.auth-check {
  position: absolute;
}

.auth-check a {
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: #0F86FF;
}

#ok {
  opacity: 0;
  width: 26px;
  height: 26px;
  cursor: pointer;
}

.descr__wrap {
  background: #FFFFFF;
  border-radius: 20px 20px 0px 0px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 0.01em;
  color: #3C4856;
  padding: 40px 20px 140px;
  height: 100%;
}

.descr__wrap p {
  padding-bottom: 20px;
}

.descr__wrap h4 {
  padding-bottom: 30px;
  font-weight: 600;
  font-size: 19px;
}

.descr__wrap strong {
  font-weight: 600;
  font-size: 19px;
}

.descr__wrap h5 {
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0.01em;
  color: #3C4856;
  padding-bottom: 15px;
}

.descr__wrap li {
  list-style: none;
}

.pag {
  position: fixed;
  bottom: 60px;
  background-color: #fff;
  width: 100%;
}

.pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 70px;
}

.pag_arrow-back,
.pag_arrow-next {
  width: 16px;
  height: 16px;
  background-image: url(/img/list-arrow.svg);
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
}

.pag_arrow-next {
  margin-right: 15px;
}

.pag_arrow-back {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  margin-left: 15px;
}

.video_item {
  width: 100%;
  height: 188px;
  border-radius: 20px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
}

.video-list {
  margin-bottom: 100px;
  padding-bottom: 50%;
}

.video-list p {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.01em;
  color: #3C4856;
  padding: 10px 0;
}

.forum-list {
  height: 100%;
  padding-bottom: 70px;
}

.forum-list li {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  padding-top: 20px;
  padding-bottom: 10px;
  height: 100%;
}

.forum-list li a {
  padding-bottom: 10px;
  font-weight: 600;
  width: 90%;
}

.post__date {
  font-weight: normal;
  font-size: 13px;
  letter-spacing: 0.01em;
  color: rgba(60, 72, 86, 0.7);
}

.add-forum {
  position: fixed;
  bottom: 170px;
  width: 100%;
}

.add-forum__wrap {
  position: relative;
}

.button-add,
.button-reply {
  position: absolute;
  right: 30px;
  width: 70px;
  height: 70px;
  background: radial-gradient(94.44% 2329.73% at 98.41% 100%, #0985FF 0%, #C49DFF 100%);
  border-radius: 50px;
}

.button-add:active,
.button-reply:active {
  -webkit-transform: scale(0.98);
          transform: scale(0.98);
}

.button-add a,
.button-reply a {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.button-add::before,
.button-reply::before {
  content: '';
  position: absolute;
  width: 70px;
  height: 70px;
  top: 0;
  background-position: center;
  background-repeat: no-repeat;
}

.button-add::before {
  background-image: url(/img/b-add.svg);
}

.button-reply::before {
  background-image: url(/img/reply.svg);
}

.forum__post,
.post__comment {
  padding: 22px 24px;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 4px 10px rgba(213, 223, 228, 0.5);
          box-shadow: 0px 4px 10px rgba(213, 223, 228, 0.5);
  border-radius: 10px;
  margin-bottom: 10px;
}

.forum__post p {
  letter-spacing: 0.01em;
  color: #3C4856;
  padding-bottom: 15px;
}

.post__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 15px;
}

.post__title {
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
}

.post__main {
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  line-height: 27px;
}

.tags {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.post__footer li {
  padding-right: 10px;
}

.post__footer-link {
  font-style: normal;
  font-weight: 500;
  font-size: 14.3px;
  letter-spacing: 0.01em;
  color: #0F86FF;
  text-decoration: none;
}

.user__img {
  width: 53px;
  height: 53px;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
  margin-right: 10px;
}

.user__img img {
  position: absolute;
  width: 100%;
}

.user__name {
  padding-bottom: 5px;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  letter-spacing: 0.01em;
  color: #3C4856;
}

.comment__title {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  letter-spacing: 0.01em;
  color: #3C4856;
  padding-bottom: 15px;
}

.comment-all {
  font-weight: 600;
}

.comment__post {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.comment__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 20px;
}

.comment__img {
  width: 34px;
  height: 34px;
}

.comment__post-wrap .user__name {
  font-size: 15px;
}

.comment__user {
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 22px;
  letter-spacing: 0.01em;
  color: #3C4856;
  padding-bottom: 5px;
}

.post__date {
  padding-right: 20px;
}

.footer {
  position: fixed;
  bottom: 0;
  background: #2D354D;
  -webkit-box-shadow: 0px 0px 30px rgba(8, 14, 34, 0.05);
          box-shadow: 0px 0px 30px rgba(8, 14, 34, 0.05);
  height: 60px;
  width: 100%;
  z-index: 9999;
}

.footer__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 20px;
  height: 60px;
}
/*# sourceMappingURL=style.css.map */