*
	font-family: 'Montserrat', sans-serif
	padding: 0
	margin: 0
	box-sizing: border-box
	&::-moz-focus-inner 
  	border: 0 !important
	&::active,
	&::focus
		outline: none !important
		
		
body
	position: relative
	background: radial-gradient(133.74% 62.47% at 13.44% 7.73%, #454E6E 0%, #252B3E 100%)
	// height: calc(100vh + 60px)
	height: 100%

.container
	width: 360px
	margin: 0 auto
.main-block
	background: #FFFFFF
	box-shadow: 0px 4px 10px rgba(213, 223, 228, 0.5)
	border-radius: 10px
	padding: 18px 20px
	// height: 100vh
h1
	font-weight: 600
	font-size: 30px
	letter-spacing: 0.01em
	text-align: center
	color: #FFFFFF
h2
	font-style: normal
	font-weight: 500
	font-size: 30px
	line-height: 37px
	// text-align: center
	letter-spacing: 0.01em
	color: #FFFFFF
h3
	font-weight: 500
	font-size: 25px
	line-height: 30px
	// text-align: center
	letter-spacing: 0.01em
	color: #FFFFFF
.index__wrap
	display: flex
	flex-direction: column
	justify-content: space-between
	height: 100vh
.logo
	display: flex
	justify-content: center
	align-items: center
	flex-direction: column
	padding-top: 10%
	// padding-bottom: 5vh
	img
		padding-bottom: 15px
.index-form
	background: #343A4E
	border-radius: 20px 20px 0px 0px
	a
		font-weight: 500
		font-size: 20px
		text-decoration: none
		line-height: 24px
		color: #FFFFFF
		margin: 40px 0
		-webkit-tap-highlight-color: rgba(0, 0, 0, 0)
		&:active,
		&:focus
			outline: none !important
.button
	display: inline-block
	width: 100%
	height: 70px
	border: none
	border-radius: 50px
	font-weight: 600
	font-size: 20px
	line-height: 24px
	cursor: pointer
	margin: 10px 0 10px
	&-main
		color: #FFFFFF
		-webkit-tap-highlight-color: rgba(0, 0, 0, 0)
		background: radial-gradient(94.44% 2329.73% at 98.41% 100%, #0985FF 0%, #C49DFF 100%)
	&:active,
	&:focus
		outline: none !important
	&:active
		transform: scale(0.98)
	&-transparent
		text-decoration: none
		border: 2px solid #0F86FF
		color: #3C4856
		display: flex
		justify-content: center
		align-items: center
	&-border-none
		border: none
		margin: 5px 0 5px


.form-wrap
	display: flex
	flex-direction: column
	align-content: center
	align-items: center
	padding: 10px
.input
	height: 70px
	width: 100%
	margin-bottom: 10px
	border-radius: 10px
	border: none
	font-weight: normal
	font-size: 20px
	line-height: 24px
	padding: 0 28px
	&-dark
		background: #464F6E
		color: rgba(255, 255, 255, 0.8)
	&-white
		position: relative
		background: #ffffff
		color: #75858C
	&-shadow
		box-shadow: 0px 4px 10px rgba(213, 223, 228, 0.5)
	

.search
	&__wrap
		padding-top: 40px
		padding-left: 10px
		padding-right: 10px
			
.form__input-search
	position: relative
	&::after
		content: ''
		position: absolute
		top: 26px
		left: 30px
		width: 16px
		height: 16px
		background-image: url(../img/search.svg)
		background-repeat: no-repeat
		background-size: cover
		background-position: center
.input
	&-search
		padding: 0 28px 0 64px
.category
	padding-bottom: 70px
	height: 100vh
.category__wrap
	h2
		padding-left: 27px
		padding-bottom: 20px
.cat__items
	display: flex
	justify-content: space-between
	flex-wrap: wrap
	padding-left: 10px
	padding-right: 10px

.cat__item
	position: relative
	display: flex
	justify-content: center
	align-items: center
	flex-direction: column
	width: 165px
	height: 165px
	margin-bottom: 10px
	border-radius: 10px
	background: #414A69
	a
		position: absolute
		top: 0
		left: 0
		width: 100%
		height: 100%
	span
		padding-top: 12px
		font-style: normal
		font-weight: 600
		font-size: 18px
		line-height: 22px
		letter-spacing: 0.01em
		color: #FFFFFF

.item__img-wrap
	width: 77px
	height: 77px
	border-radius: 50%
.item__img
	background-repeat: no-repeat
	background-position: center
	width: 100%
	height: 100%
.img
	&-info
		background-image: url(../img/category/info.svg)
		// background-size: 27px
		&__wrap
			background: linear-gradient(90deg, #2EBDFE 0%, #46D0FF 100%)
	&-media
		background-image: url(../img/category/media.svg)
		&__wrap
			background: linear-gradient(90deg, #6AD3AF 0%, #7FEAA0 100%)
	&-test
		background-image: url(../img/category/test.svg)
		&__wrap
			background: linear-gradient(90deg, #FFC452 0%, #FFCF7E 100%)
	&-forum
		background-image: url(../img/category/forum.svg)
		&__wrap
			background: linear-gradient(90deg, #8691FE 0%, #8791FD 100%)
	&-contacts
		background-image: url(../img/category/contacts.svg)
		&__wrap
			background: linear-gradient(90deg, #27CCE0 0%, #3DDFF1 100%)
	&-share
		background-image: url(../img/category/share.svg)
		&__wrap
			background: linear-gradient(90deg, #FE7C9A 0%, #FF9DA0 100%)


.header__nav
	display: flex
	justify-content: space-between
	align-items: center
	height: 77px


.header__title
	display: flex
	justify-content: center
	width: 100%
	margin-left: -40px

.arrow-back,
.close
	background-repeat: no-repeat
	padding: 0 20px
	background-position: center
	width: 27px
	height: 17px
	z-index: 1
.arrow-back
	background-image: url(../img/arrow-back.svg)
.close
	background-image: url(../img/close.svg)
.container__wrap
	position: relative
	background: #F1F2F6
	border-radius: 20px 20px 0px 0px
	padding: 10px
	height: 100%
.top-search
	margin-bottom: 100px
	padding-bottom: 50%
	span
		display: block
		height: 58px
		font-weight: 600
		font-size: 20px
		line-height: 24px
		letter-spacing: 0.01em
		color: #3C4856
	li
		position: relative
		display: flex
		align-items: center
		list-style: none
		border-bottom: 1px solid RGBA(213, 223, 228, 0.7)
		width: 100%
		height: 58px
		padding-left: 32px
		a
			display: flex
			align-items: center
			width: 100%
			height: 100%
			text-decoration: none
			font-weight: 500
			font-size: 18px
			line-height: 22px
			letter-spacing: 0.01em
			color: #0F86FF
		&::after
			content: ''
			position: absolute
			top: 20px
			left: 0
			width: 16px
			height: 16px
			background-image: url(../img/search-top.svg)
			background-repeat: no-repeat
			background-size: cover
			background-position: center


.profile-image,
.info-image
	display: flex
	flex-direction: column
	align-items: center
	padding: 40px 0
	&__img
		background-repeat: no-repeat
		background-position: center
		position: relative
		margin-bottom: 5px
.profile-image
	&__img
		background-color: #464F6E
		background-image: url(../img/category/profile.svg)
		&::after
			content: '+'
			width: 21px
			height: 21px
			display: flex
			justify-content: center
			align-items: center
			position: absolute
			bottom: 0
			right: 0
			background-color: #70DA40
			border-radius: 50%
			color: #ffffff
			font-size: 20px
.profile-alert
	margin-bottom: 10px
	p
		text-align: center
.font-list,
.font-list li a
	font-style: normal
	font-size: 18px
	line-height: 22px
	letter-spacing: 0.01em
	color: #3C4856
	text-decoration: none

.button-link
	display: flex
	justify-content: center
	align-items: center
	margin: 30px 0 5px
	text-decoration: none
.main-list,
.info-list,
.forum-list
	height: calc(100% - 70px)
	font-weight: 500
	a
		text-decoration: none
		font-weight: 500
	li
		position: relative
		display: flex
		align-items: center
		list-style: none
		border-bottom: 1px solid RGBA(213, 223, 228, 0.7)
		width: 100%
		height: 65px
		a
			text-decoration: none
			width: 100%
			&::after
				content: ''
				width: 16px
				height: 16px
				position: absolute
				right: 0
				top: 24px
				background-image: url(../img/list-arrow.svg)
				background-position: center
				background-repeat: no-repeat
.main-list,
.info-list
	padding-bottom: 100%
	li
		padding-left: 30px
		&::before
			content: ''
			position: absolute
			left: 0
			width: 10px
			height: 10px
			background: #0F86FF
			border-radius: 50px
.push
	display: flex
	justify-content: space-between
	position: relative
.setting-check
	position: absolute
	top: 20px
	right: 0
.setting-check,
.auth-check
	width: 26px
	height: 26px
	// cursor: pointer
	background: #FFFFFF
	box-shadow: 0px 4px 10px rgba(213, 223, 228, 0.5)
	border-radius: 10px
	background-repeat: no-repeat
	background-position: center
	// background-image: url(/img/check.svg)


#push
	opacity: 0
		z-index: -1
	width: 1px
	height: 1px
#pushSpan
	cursor: pointer
	z-index: 10
	user-select: none

.auth-main__wrap
	background: #F7FAFC
	border-radius: 20px 20px 0px 0px
	height: 100vh
	p
		font-style: normal
		font-weight: normal
		font-size: 15px
		line-height: 22px
		letter-spacing: 0.01em
		color: #3C4856
		padding: 0 20px 30px 40px
	a
		color: #1E8EFF
.auth-check__wrap
	position: relative
	padding-top: 15px
.auth-check
	position: absolute
	// cursor: pointer
	a
		text-decoration-line: underline
		color: #0F86FF
#ok
	opacity: 0
	width: 26px
	height: 26px
	cursor: pointer

.descr__wrap
	background: #FFFFFF
	border-radius: 20px 20px 0px 0px
	font-style: normal
	font-weight: normal
	font-size: 16px
	line-height: 28px
	letter-spacing: 0.01em
	color: #3C4856
	padding: 40px 20px 140px
	height: calc(100vh + 150px)
	p
		padding-bottom: 20px
	h4
		padding-bottom: 30px
		font-weight: 600
		font-size: 19px
	strong
		font-weight: 600
		font-size: 19px
	h5
		font-weight: 600
		font-size: 24px
		line-height: 32px
		letter-spacing: 0.01em
		color: #3C4856
		padding-bottom: 15px
	li
		list-style: none

.pag
	position: fixed
	bottom: 60px
	background-color: #fff
	width: 100%

.pagination
	display: flex
	justify-content: space-between
	align-items: center
	height: 70px

.pag_arrow-back,
.pag_arrow-next
	width: 16px
	height: 16px
	background-image: url(../img/list-arrow.svg)
	background-position: center
	background-repeat: no-repeat
	cursor: pointer
.pag_arrow-next
	margin-right: 15px
.pag_arrow-back
	transform: rotate(180deg)
	margin-left: 15px
.video_item
	width: 100%
	height: 188px
	border-radius: 20px
	background-position: center
	background-repeat: no-repeat
	background-size: cover
	cursor: pointer
	// iframe
	// 	border-radius: 20px
.video-list
	margin-bottom: 100px
	padding-bottom: 50%
	iframe
		border-radius: 20px
	p
		font-style: normal
		font-weight: 500
		font-size: 20px
		line-height: 24px
		letter-spacing: 0.01em
		color: #3C4856
		padding: 10px 0

.forum-list
	height: 100%
	padding-bottom: 70px
	li
		flex-direction: column
		align-items: start
		padding-top: 20px
		padding-bottom: 10px
		height: 100%
		a
			padding-bottom: 10px
			font-weight: 600
			width: 90%
.post__date
	// padding-bottom: 10px
	font-weight: normal
	font-size: 13px
	// line-height: 30px
	letter-spacing: 0.01em
	color: rgba(60, 72, 86, 0.7)
.add-forum
	position: fixed
	bottom: 170px
	width: 100%
	&__wrap
		position: relative
.button-add,
.button-reply
	position: absolute
	right: 30px
	width: 70px
	height: 70px
	background: radial-gradient(94.44% 2329.73% at 98.41% 100%, #0985FF 0%, #C49DFF 100%)
	border-radius: 50px
	&:active
		transform: scale(0.98)
	a
		position: absolute
		width: 100%
		height: 100%
		border-radius: 50%
	&::before
		content: ''
		position: absolute
		width: 70px
		height: 70px
		top: 0
		background-position: center
		background-repeat: no-repeat
.button-add
	&::before
		background-image: url(../img/b-add.svg)
.button-reply
	&::before
		background-image: url(../img/reply.svg)

.forum__post,
.post__comment
	margin-bottom: 10px
.forum__post
	p
		letter-spacing: 0.01em
		color: #3C4856
		padding-bottom: 15px

.post__header
	display: flex
	align-items: center
	padding-bottom: 15px
.post__title
	font-weight: 600
	font-size: 20px
	line-height: 28px
	
.post__main
	font-style: normal
	font-weight: normal
	font-size: 17px
	line-height: 27px
.tags
	list-style: none
	display: flex
.post__footer
	li
		padding-right: 10px
.post__footer-link
	font-style: normal
	font-weight: 500
	font-size: 14.3px
	letter-spacing: 0.01em
	color: #0F86FF
	text-decoration: none

.user__img
	width: 53px
	height: 53px
	border-radius: 50%
	position: relative
	overflow: hidden
	margin-right: 10px
	img
		position: absolute
		width: 100%
.user__name
	padding-bottom: 5px
	font-style: normal
	font-weight: 600
	font-size: 18px
	// line-height: 30px
	letter-spacing: 0.01em
	color: #3C4856
.comment__title
	font-style: normal
	font-weight: normal
	font-size: 18px
	letter-spacing: 0.01em
	color: #3C4856
	padding-bottom: 15px
.comment-all
	font-weight: 600
.comment__post
	display: flex
	// padding-bottom: 20px
.comment__footer
	display: flex
	padding-bottom: 20px
.comment__img
	width: 34px
	height: 34px
.comment__post-wrap .user__name
	font-size: 15px
.comment__user
	font-style: normal
	font-weight: normal
	font-size: 15px
	line-height: 22px
	letter-spacing: 0.01em
	color: #3C4856
	padding-bottom: 5px
.post__date
	padding-right: 20px

.text-comment
	width: 100%
	border: none
	margin-bottom: 20px
	resize: none
	font-size: 20px
	line-height: 24px
	color: #75858C
.comment-check
	display: flex
	align-items: center
	p
		padding-left: 50px
		ont-style: normal
		font-weight: 500
		font-size: 18px
		line-height: 30px
		letter-spacing: 0.01em
		color: #3C4856

.add-comment__wrap .auth-check__wrap
	padding-bottom: 4vh

.add-comment__wrap form
	height: 100%
	padding-bottom: 80px
.input-load
	color:#38394A
	display: flex
	align-items: center
	justify-content: space-between
.load-img
	width: 44px
	height: 44px
	border-radius: 50%
	background: rgba(15, 134, 255, 0.05)
	background-image: url(../img/load.svg)
	background-repeat: no-repeat
	background-position: center

.main-map__wrap
	height: 100vh
.map
	position: relative
	height: 100%
	border-radius: 20px 20px 0px 0px
	overflow: hidden
	background: #F7FAFC

.test__item
	height: 100vh
.test
	display: flex
	justify-content: space-between
	align-items: center
	padding: 0 18px
.test-title__wrap
	width: 86%
.test-title
	display: flex
	justify-content: space-between
	align-items: center
	font-style: normal
	font-weight: 600
	font-size: 18px
	line-height: 22px
	letter-spacing: 0.01em
	color: #3C4856
.test-logo
	width: 30px
	height: 33px
	background-repeat: no-repeat
	background-origin: center
	// background-size: 100%
.test-logo__ok
	background-image: url(../img/test-ok.svg)
.test-logo__progress
	background-image: url(../img/test-progress.svg)
.test-logo__none
	background-image: url(../img/test-none.svg)
.test-result__wrap
	display: flex
	font-weight: 600
	font-size: 12px
	line-height: 15px
	letter-spacing: 0.01em
.test-result__progress
	color: #49C589
.test-result__end
	color: #49C589
.test-progress
	position: relative
	width: 100%
	height: 5px
	// background: #49C589
	border-radius: 50px
	background: #ECEFF2
	overflow: hidden
.progress-bar
	background: #49C589
	width: 100%
	position: absolute
	height: 5px
	border-radius: 50px



.block-vh
	height: 100vh
.block-vh200
	height: calc(100vh + 200px)





.footer
	position: fixed
	bottom: 0
	background: #2D354D
	box-shadow: 0px 0px 30px rgba(8, 14, 34, 0.05)
	height: 60px
	width: 100%
	z-index: 9999
	&__wrap
		display: flex
		justify-content: space-between
		align-items: center
		padding: 0 20px
		height: 60px